<%- include("partials/header") %>
<h1>The posts page</h1>
<ul>
    <% for(var i=0; i<postsEjs.length; i++){ %>
        <li> <%= postsEjs[i].title %> - <strong><%= postsEjs[i].author%></strong></li>
    <% } %>
</ul>

<% postsEjs.forEach(function(p){ %>
    <li> <%= p.title%> - <%= p.author%></li>
<% }) %>
<%- include("partials/footer") %>